@model ChiquePiggyFidelimax.Models.Caixa

@{
    ViewBag.Title = "Details";
}

<h2 style="text-align: center; font-size: 60px; color: rgb(255,215,0)">Detalhes da Transação</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cpf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cpf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorTotalCompra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorTotalCompra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataCompra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataCompra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pontos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pontos)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
    @Html.ActionLink("Voltar para Lista", "Index")
</p>
