@model ChiquePiggyFidelimax.Models.Cliente

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cliente</h4>
    <hr />
    
        <dl class="dl-horizontal" style="font-size:20px">
            <dt >
                @Html.DisplayNameFor(model => model.Cpf)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cpf)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Nome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nome)
            </dd>

        </dl>
    </div>
   
<p style="text-align:center; font-size:15px">
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Voltar", "Index")
</p>
